<main class="login-page text-center">
    <div class="form-signin">
        <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm)">
            <img class="mb-4" src="../../assets/images/logo.png" alt="encora logo"  height="60">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" formControlName="email"
                    placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" formControlName="password"
                    placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary mt-2" type="submit" [disabled]="loginForm.invalid">Sign in</button>
            <p class="mt-5 mb-3 text-muted"> <small>Designed by Pankaj for Encora</small> </p>
        </form>
    </div>
</main>